@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
   
}

header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding: 10px 100px;
   
    
}

header.sticky{
    background: #fff;
  
  
    
}

header.sticky a{
    color: black;
}

#home{
    position: relative;
    width: 100%;
    background: url(./images/bg.jpg) no-repeat fixed;
    background-size: cover;
    

}

.overlay{
    background-color: rgba(32, 31, 31, 0.7);
    width: 100%;
    display: flex;
   
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

nav a{
    color: #fff;
    padding: 10px;
    transition: 1s;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 100px;
    letter-spacing: 0.48px;
}

nav a:hover,
nav a.active{
    color: #e77306;
}

.menu{
     border:1px solid #f5af00;
     border-radius: 0;
     width: 40px;
     height: 30px;
     align-items: center;
     cursor: pointer;
     visibility: hidden;
   
}

.menu img{
    width: 35px;
}



section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    
    

}

.words{
    display: flex;
    width: 100%;
    z-index: 3;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
  
.words p{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 57px;
    margin-bottom: 27px;
}

.words h6{
    color: #ffffff;
    font-family: 'Lora', serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 53px;
}


.words button{
    background-color: #f5af00;
    color: #ffffff;
    border: 0 solid ;
    border-radius: 50px;
    position: relative;
    z-index: 2;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    padding: 0;
    line-height: 50px;
    width: 170px;
    height: 50px;
    cursor: pointer;
    outline: none;
}

.words button:hover{
   background-color: #6b6662;
  
}




 /* Services section */

#services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    gap: 20px;
    padding: 70px 75px;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.intro p{
    color: #222222;
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 27px;
    text-transform: capitalize;
}


.intro h6{

    color: #999999;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    font-family: 'Lora', serif;
    text-align: center;
}



.service{
    display: flex;
    flex-direction: row;
    gap: 30px;
    
    
}

.operation{
    display: flex;
    flex-direction: column;
    margin: 15px;
    align-items: center;

}

.operation p{
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 13px;
}

.operation h6{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0;
    color: #999999;
}

/* work section */

#work{
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
    width: 100%;
    padding: 70px 75px;
    gap: 50px;
}

.linkss{
     display: flex;
     justify-content: center;
     align-items: center;
     
}

.linkss a{
    font-size: 18px;
    font-family: 'Lora', serif;
    text-transform: capitalize;
    color: #999999;
    font-weight: 400;
    display: block;
    font-style: italic;
    position: relative;
    padding-right: 22px;
}
  
.linkss a:hover{
    color: #F5AF00;
}

.photos{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}


.photo{
    width: 350px;
    position: relative;
}

.photo img{
    width: 100%;
    display: block;
    margin: auto;
}

.content{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #F5AF00;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    color: #fff;
}

.content h1{
    font-size: 55px;
    font-weight: 100;

}
.content:hover{
    opacity: 0.9;
}

    
  





/*skills section*/

#skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding-top: 70px;
    min-height: 80vh;
   
    
}
 
.expert{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 0;
    justify-content: space-between;
   


}

.left{
    display: flex;
    flex-direction: column;
}

.left p{
    color: #222222;
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 27px;
}

.left h6{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 0;
    color:#999999;
}

.right{
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.right-progress{
    margin-bottom: 25px;
    
}

.right-progress h4{
    margin: 0 0 15px  0 ;
    letter-spacing: 0.5px;
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;

}
 .progress-bar{
    display: flex;
    position: relative;
    width: 500px;
    border-radius: 30px;
    height: 5px;
    background-color: rgb(216, 219, 221);


 }

 .progress-bar span{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    background: #F5AF00;
    transition: width 0.5s linear;



 }

 .barr-text{
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
 }


.innovative{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     background-color: #F5AF00;
     height: 200px;
     width: 100%;
     gap: 35px;
     margin-top: 50px;
     
     
}

.innovative p{
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 0;
}

.innovative button{
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    border-radius: 50px;
    padding: 0;
    line-height: 50px;
    width: 170px;
    height: 50px;
    border: 1px solid #F8F8F8;
    background-color: #F5AF00;
    color: #fff;
}

.innovative button:hover{
    background-color: #fff;
    color: #f5af00;
}


/*testimonials section*/

#testimonial{
    display: flex;
    flex-direction: column;
    background-color: #F9F9F9;
    padding: 0 75px;
    gap: 50px;
    min-height: 90vh;

}


.clients{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.clients p{
    font-size: 20px;
    line-height: 35px;
    color: #999999;
    font-family: 'Lora', serif;
    font-style: italic;
    margin-bottom: 29px;
}
  .left-client img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
  }




/*map section */


#map{
    display: flex;
    flex-direction: column;
    min-height: 65vh;
   
}

.adress{
 display: flex;
 width: 100%;
 padding-bottom: 70px;
 justify-content: space-around;
 border-bottom: 1px solid #e7e1e1;
 
 

}

.operation{
    display: flex;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    line-height: 1.5;
    margin: 0;
   

}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 75px; 
    align-items: center;
    padding-top: 40px;
  
     
    
}
 .footer-link{
    display: flex;
    gap: 20px;
   
   
 }

.footer-link img{
    height: 13px;
    width: 13px;
    
}

.footer p{
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-transform: capitalize;
}

/*media queryies*/
  
/*mobile phones*/

@media only screen and (min-width: 320px) and (max-width: 768px) {
  body{
    overflow-x: hidden;
  }
    .menu{
        visibility: visible;
       
    }

    

    nav a{
         display: none;
    }

    .overlay .words{
     padding: 45px;

    }

    .sticky{
        
        padding: 0;
    }

    .words p{
        font-size: 35px;
        text-align: center;
        line-height: 39px;
    }

    .words h6{
        font-size: 15px;
    }

    header{
         padding: 20px;
       
    }
    .sticky{
        padding: 20px;
    }

    .intro{
        width: 100%;
        text-align: center;
        padding: 5px;
       
        
    }

    .intro p{
        font-size: 31px;
    }

    .intro h6{
        font-size:19px ;
       
    }

    #services{
        padding: 20px 5px;
        width: 100%;

    }
    .service{
        flex-wrap: wrap;
        width: 100%;
        padding: 15px;
    }

    .operation{
        width: 100%;
      
    }

    .photos{
        padding: 0;
      
    }
   .photo{
     width: 100%;
     gap: 5px;
   }
    .photo img{
        width: 100%;
    }

    #work{
        padding: 5px;
    }
    
    #skills{
        
       padding: 0;

    }

    .expert{
        width: 100%;
        flex-wrap: wrap;
        padding: 0;
        gap: 0;
       

    }

    .left{
        width: 100%;
        padding: 25px;
        flex-wrap: wrap;
    }

    .left p{
        font-size: 30px;

        
    }

    .left h6{
        font-size: 14px;
    }

    .right{
        width: 100%;
        align-items: center;
        padding-left: 10px;
        margin-bottom: 0;
       
       
    }
     .right-progress{
        padding: 5px;
        width: 100%;
      

     }

     .progress-bar{
        width: 100%;
     }

     .innovative{
        flex-wrap: wrap;
        flex-direction: column;
        height: 350px;
        align-items: center;
        justify-content: center;
        gap:15px;
        text-align: center;
        padding:15px;
        
     }

     #testimonial{
        padding: 5px;
        text-align: center;
        padding: 25px 0;
     }

     .clients{
        flex-wrap: wrap;
        gap: 50px;
        padding: 0 10px;
        
     }

     .left-client{
       width: 10%;
       text-align: start;
     }

     .client-info{
        width: 70%;
        text-align: left;
     }

     .adress{
        flex-wrap: wrap;
        padding: 15px 0;
        width: 100%;
     }

     .footer{
        flex-direction: column;
        gap: 15px;
        padding-bottom: 15px;
     }
     
     


    }

    
    
        
        /* Small Devices, Tablets */
       
       
 @media only screen and (min-width: 768px) and (max-width: 1067px) {
        
    .menu{
        visibility: visible;
       
    }

    

    nav a{
         display: none;
    }

    .overlay .words{
     padding: 45px;

    }

    .sticky{
        
        padding: 0;
    }

    .words p{
        font-size: 32px;
        text-align: center;
        line-height: 39px;
    }

    .words h6{
        font-size: 15px;
    }

    header{
         padding: 20px;
       
    }
    .sticky{
        padding: 20px;
    }

    .intro{
        width: 100%;
        text-align: center;
        padding: 5px;
       
        
    }

    .intro p{
        font-size: 31px;
    }

    .intro h6{
        font-size:19px ;
       
    }

    #services{
        padding: 20px 5px;
        width: 100%;

    }
    .service{
        flex-wrap: wrap;
        width: 100%;
        padding: 15px;
        align-items: center;
        justify-content: center;
    }

    .operation{
        width: 45%;
      
    }

    #work{
      padding: 0;
    }

    .photos{
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        align-items: center;
        justify-content: center;
    }
    
    
    .photo{
        width: 220px;
        position: relative;
    }
    
    .photo img{
        width: 100%;
        display: block;
       
    }
    
    .expert{
        width: 100%;
        flex-wrap: wrap;
        padding: 0;
        gap: 0;
       

    }

    .left{
        width: 50%;
        padding: 25px;
        flex-wrap: wrap;
        gap: 0;
    }

    .left p{
        font-size: 38px;

        
    }

    .left h6{
        font-size: 14px;
    }

    .right{
        width: 45%;
        align-items: start;
        padding-left: 10px;
        margin-bottom: 0;
       
       
    }
     .right-progress{
        padding: 5px;
        width: 100%;
      

     }

     .progress-bar{
        width: 100%;
     }

     .innovative{
        flex-wrap: wrap;
        flex-direction: column;
        height: 300px;
        align-items: center;
        justify-content: center;
        gap:15px;
        text-align: center;
        padding:15px;
        
     }

     #testimonial{
        padding: 5px;
        text-align: center;
        padding: 25px 0;
     }

     .clients{
        flex-wrap: nowrap;
        gap: 50px;
        padding: 25px;
       
        
     }

     .left-client{
       width: 10%;
       text-align: start;
     }

     .client-info{
        width: 70%;
        text-align: left;
     }



        
        }
 

        /*For laptop*/

@media screen and (min-width:991px) and (max-width:1400px) {
        .menu{
            visibility:hidden;
           
        }
    
        
    
        nav a{
             display: flex;
             
        }
    
        .overlay .words{
         padding: 45px;
    
        }
    
        .sticky{
            
            padding: 0;
        }
    
        .words p{
            font-size: 65px;
            text-align: center;
            line-height: 39px;
        }
    
        .words h6{
            font-size: 20px;
        }
    
        header{
             padding: 15px;
           
        }
        .sticky{
            padding: 20px;
        }
    
        .intro{
            width: 100%;
            text-align: center;
            justify-content: center;
            padding:10px 75px;
           
            
        }
    
        .intro p{
            font-size: 35px;
        }
    
        .intro h6{
            font-size:14px ;
            text-align: center;
           word-wrap: break-word;
           
        }
    
        #services{
            padding: 20px 5px;
            width: 100%;
    
        }
        .service{
            flex-wrap: nowrap;
            width: 100%;
            padding: 25px;
        }
    
        .operation{
            width: 100%;
          
        }
    
        .photos{
            padding: 0;
          
        }
       .photo{
         width: 30%;
         gap: 5px;
       }
        .photo img{
            width: 100%;
        }
    
        #work{
            padding: 15px;
        }
        
        #skills{
            
           padding: 0;
    
        }
    
        .expert{
            width: 100%;
            flex-wrap: nowrap;
            padding: 0;
            gap: 0;
           
    
        }
    
        .left{
            width: 100%;
            padding: 25px;
            flex-wrap: wrap;
        }
    
        .left p{
            font-size: 30px;
    
            
        }
    
        .left h6{
            font-size: 14px;
        }
    
        .right{
            width: 100%;
            align-items: center;
            padding-right: 10px;
            margin-bottom: 0;
           
           
        }
         .right-progress{
            padding: 5px;
            width: 100%;
          
    
         }
    
         .progress-bar{
            width: 100%;
         }
    
         .innovative{
            flex-wrap: wrap;
            flex-direction: row;
            height: 350px;
            align-items: center;
            justify-content: center;
            gap:15px;
            text-align: center;
            padding:15px;
            
         }
    
         #testimonial{
            padding: 5px;
            text-align: center;
            padding: 25px 0;
         }
    
         .clients{
            flex-wrap: nowrap;
            gap: 50px;
            padding: 0 10px;
            
         }
    
         .left-client{
           width: 10%;
           text-align: start;
         }
    
         .client-info{
            width: 70%;
            text-align: left;
         }
    
         .adress{
            flex-wrap: nowrap;
            padding: 15px 20px;
            width: 100%;
         }
    
         .footer{
           
            gap: 15px;
            padding-bottom: 15px;
         }
         
         

       }









